# Discord の設定
discord:
  token: null  # null の場合は環境変数 DISCORD_TOKEN を使用します
  guild_id: 123456789012345678

# インデックス作成の設定
indexing:
  allowed_categories:
    - "general"

# ログの設定
logging:
  name: "Simple-Discord-Indexer"
  level: "INFO"

# パス設定
paths:
  data_dir: "data"
